@{
  Layout = "_Layout";
}

@model Sweets.Models.Treat

<h1>New Treat</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="New Treat" />
}

<p>@Html.ActionLink("Back", "Index", "Treat", null, new { @class="btn btn-primary" })</p>